node_modules/
dist/
.swc/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.vscode/
.idea/

project.private.config.json
project.config.private.json

nul
echarts-for-weixin.tar.gz

